﻿<div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="@Url.Action("Index", "Books")" class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>Books</span></a></li>
        <li class="sidebar-list-item"><a href="@Url.Action("Index", "Genres")" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Genres</span></a></li>
        
    </ul>
</div>
