﻿
@model testapp.Model.Genre

<section class="py-5">
    <div class="col-lg-12 mb-5">
        <div class="card">
            <div class="card-header">
                <h3 class="h6 text-uppercase mb-0">Add Genre</h3>
            </div>
            <div class="card-body">
                <form method="POST" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Normal</label>
                        <input type="hidden" name="Id" value="@Model.Id"/>
                        <div class="col-md-9">
                            <input id="Name" name="Name" type="text" class="form-control" required value="@Model.Name">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



