﻿
@model testapp.Models.GenresFilteredModel
<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-uppercase mb-0">Genres</h6>
                </div>
                <div class="card-body">
                    <a href="@Url.Action("Create")" class="btn btn-primary mb-4">Add Genre</a>
                    <table class="table card-text">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Genres.Any())
                            {
                                foreach (var genre in Model.Genres)
                                {
                                    <tr>
                                        <td>@genre.Id</td>
                                        <td>@genre.Name</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = genre.Id })
                                            @if (!genre.Books.Any())
                                            {
                                                @Html.ActionLink("Delete", "Delete", new { id = genre.Id })
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No Data</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

