﻿@model testapp.Model.Book
@{
    var genres = (SelectList)ViewBag.Genres;
}

<section class="py-5">
    <div class="col-lg-12 mb-5">
        <div class="card">
            <div class="card-header">
                <h3 class="h6 text-uppercase mb-0">All form elements</h3>
            </div>
            <div class="card-body">
                <form method="POST" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Title</label>
                        <div class="col-md-9">
                            <input id="Title" name="Title" type="text" class="form-control" required value="@Model.Title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Author</label>
                        <div class="col-md-9">
                            <input id="Author" name="Author" type="text" class="form-control" required value="@Model.Author">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Year</label>
                        <div class="col-md-9">
                            <input id="PublishYear" name="PublishYear" type="text" class="form-control" required value="@Model.PublishYear">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Genre</label>
                        <div class="col-md-9 select mb-3">
                            <select name="GenreId" class="form-control">
                                @foreach (var genre in genres)
                                {
                                    <option value="@genre.Value" @(Model.GenreId.ToString().Equals(genre.Value) ? "selected" : "")>@genre.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



