﻿@model testapp.Models.BooksFilteredModel
<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-uppercase mb-0">Books</h6>
                </div>
                <div class="card-body">
                    <a href="@Url.Action("Create")" class="btn btn-primary mb-4">Add Book</a>
                    <table class="table card-text">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Year</th>
                            <th>Genre</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.Books.Any())
                        {
                            foreach (var book in Model.Books)
                            {
                                <tr>
                                    <td>@book.Id</td>
                                    <td>@book.Title</td>
                                    <td>@book.Author</td>
                                    <td>@book.PublishYear</td>
                                    <td>@book.Genre.Name</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = book.Id })
                                        @Html.ActionLink("Delete", "Delete", new { id = book.Id })
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">No Data</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

